body {
      background: linear-gradient(90deg, #fff6ee 0%, #f8d2a8 50%, #f0b776 100%);
      min-height: 100vh;
      font-family: 'Segoe UI', sans-serif;
    }
  
/* 
     Yazhini text animation (Left → Right) 
.name-animation{
  opacity: 0;
  animation: textSlide 1.5s ease forwards;
}
@keyframes textSlide{
  from{
    transform: translatex(120px);
    opacity: 0;
  }
  to{
    transform: translatex(0);
    opacity: 1;
  }
} */

/* Image animation (Right → Left) */
.profile-oval{
  opacity: 0;
  animation: imageSlide 1.5s ease forwards;
  animation-delay: 0.5s;
}

@keyframes imageSlide{
  from{
    transform: translatex(-120px);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

.home{
  margin-top: 40px;
}

.navbar-nav li a:hover{
  color: #9b5e14;
  border-bottom: 3px solid #7a4a10;
  padding-bottom: 4px;
}

    .text-brown {
      color: #7a4a10;
    }

    .bg-brown {
      background: #7a4a10;
    }
    .btn-brown {
      background: #7a4a10;
      color: #fff;
      border-radius: 20px;
      padding: 8px 18px;
      border: none;
    }

    .btn-brown:hover {
     transform:scale(1.05);
  box-shadow:0 0 20px #ca7713;
   border: 2px solid #7a4a10;
    }

    .profile-oval {
  width: 250px;
  height: 400px;
  border-radius: 50% ;
  border: 6px solid #7a4a10;
  overflow: hidden;
  box-shadow: 0 0 25px#7a4a10 ;  
  
}

.profile-oval img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

    .social-icons a {
      width: 45px;
      height: 45px;
     border: 2px solid #7a4a10;
      color: #7a4a10;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      text-decoration: none;
      font-size: 18px;
      
    }
    .social-icons a:hover{
      background-color: #7a4a10;
      color: #fff;
      transform: translateY(-5px) scale(1.1);
      box-shadow: 0 5px 12px #7a4a10;  
    }
    

    .section-title{
      color:#7a4a10;
      font-weight:700;
      margin-bottom:15px;
    }

    .custom-card{
      background:#fff;
      border-radius:16px;
      padding:25px;
      box-shadow:0 6px 15px rgba(0,0,0,0.1);
      height:100%;
      border-left:6px solid #7a4a10;
    }
    .custom-card:hover{
      transform:scale(1.05);
  box-shadow:0 0 20px #ca7713;
    }

    .edu-item{
      padding:12px 0;
      border-bottom:1px dashed #d9a066;
    }

    .edu-item:last-child{
      border-bottom:none;
    }

    .year{
      background:#7a4a10;
      color:#fff;
      padding:3px 10px;
      border-radius:12px;
      font-size:13px;
    }
  
  
  .aboutme  {
    margin-top: 90px;
  }
      
 .skillcard{
  margin-top: 150px;
 }

.about-section {
  padding: 70px 0;
}

.about-card,
.skills-card {
 background:linear-gradient(90deg,#fff6ee 0%, #f8d2a8 50%, #f0b776 100%);
  padding: 35px;
  border-radius: 15px;
  box-shadow: 0 0 18px #f0b776;
  color: black;
}

h2 span {
  color: #7a4a10;
}

.skill {
  margin-bottom: 15px;
  color: black;
}

.progress {
    border: 2px solid #7a4a10;
  height: 12px;
  border-radius: 10px;
  background: white ;
}

.progress-bar {
  background: #dba35e;
  border-radius: 10px;
  font-size: 10px;
  text-align: right;
  padding-right: 5px;
  color: black;
} 
.cert-box{
     width:100%;
  height: 280px;
  border-radius:12px;
  overflow:hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.textmy{
  color: black;
}

.Certificate{
  margin-top: 100px;
}
.container h1{
  color: black;
}

.cert-box img{
  width:100%;
  height: 100%;
  object-fit: cover;
  border-radius:12px;
  transition: 0.4s;
}

.cert-box:hover{
  transform:scale(1.05);
  box-shadow:0 0 20px #ca7713;
}


.project{
  margin-top: 150px;
}
.project-card{
  background:#081624;
  border-radius:12px;
  overflow:hidden;
  transition:0.4s;
}

.project-img{
  width:100%;
  height:220px;
  object-fit:cover;
}

.project-content{
  padding:15px;
  text-align:center;
}

.project-card:hover{
  transform:translateY(-8px);
  box-shadow:0 0 20px #ca7713;
}

.contact-header{
    text-align: center;
    padding: 50px 15px;
 
}

.contact-title{
  justify-content: center;
  align-items: center;
  text-align: center;
    font-size: 55px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 20px;
   color: #ca7713;
}
.contact-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    font-size: 16px;
}
.contact-info span{
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
}

.contact-info i{
    color: #6b4a2d;
    font-size: 18px;
}
.input-box{
background:white;
border:2px solid black;
border-radius:0;
padding:12px;
margin-bottom:12px;
}

.message-box{
height:180px;
background:white;
border:2px solid black;
border-radius:0;
padding:10  px;
}

.input-box:focus,
.message-box:focus{
box-shadow:none;
outline:none;
}

.send-btn{
min-width:180px;
  padding:12px 0;
  text-align:center;
   border-radius:50px; 
  background:#824d0c ;
  color:#000;
  font-weight:600;
  text-decoration:none;
  transition:0.4s ease;
  box-shadow:0 0 12px #824d0c;
}

.send-btn:hover{

  background-color: #7a4a10;
      color: #fff;
      transform: translateY(-5px) scale(1.1);
      box-shadow: 0 5px 12px #7a4a10;  
}

 
 